:root {
--card-padding: var(--space-2);
--card-radius: var(--border-radius);
--card-background: var(--background-2);
--card-color: var(--on-background);
--card-header-padding: var(--space-2);
--card-header-font-size: var(--font-size-4);
--card-header-font-weight: 600;
--card-header-color: var(--on-background);
--card-header-border-color: var(--border-1);
--card-content-padding: var(--space-2);
--card-actions-padding: var(--space-2);
--card-actions-gap: var(--space-1);
--card-actions-border-color: var(--border-1);
--card-1-background: transparent;
--card-1-border: 1px solid var(--border-1);
--card-1-shadow: none;
--card-2-background: var(--background-2);
--card-2-border: 1px solid var(--border-1);
--card-2-shadow: var(--shadow-1);
--card-3-background: var(--background-2);
--card-3-border: 2px solid var(--border-1);
--card-3-shadow: var(--shadow-2);
--card-style-1-background: var(--card-1-background);
--card-style-1-border: var(--card-1-border);
--card-style-1-shadow: var(--card-1-shadow);
--card-style-2-background: var(--card-2-background);
--card-style-2-border: var(--card-2-border);
--card-style-2-shadow: var(--card-2-shadow);
--card-style-3-background: var(--card-3-background);
--card-style-3-border: var(--card-3-border);
--card-style-3-shadow: var(--card-3-shadow);
}
