:root {
--badge-padding-x: var(--space-1);
--badge-padding-y: calc(var(--space-1) / 2);
--badge-font-size: var(--font-size-2);
--badge-font-weight: 600;
--badge-radius: var(--border-radius-small);
--badge-line-height: 1;
--badge-1-background: transparent;
--badge-1-color: var(--on-background);
--badge-1-border: 1px solid var(--border-2);
--badge-2-background: var(--background-3);
--badge-2-color: var(--on-background);
--badge-2-border: none;
--badge-3-background: var(--on-background);
--badge-3-color: var(--background-1);
--badge-3-border: 1px solid var(--on-background);
--badge-style-1-background: var(--badge-1-background);
--badge-style-1-color: var(--badge-1-color);
--badge-style-1-border: var(--badge-1-border);
--badge-style-2-background: var(--badge-2-background);
--badge-style-2-color: var(--badge-2-color);
--badge-style-2-border: var(--badge-2-border);
--badge-style-3-background: var(--badge-3-background);
--badge-style-3-color: var(--badge-3-color);
--badge-style-3-border: var(--badge-3-border);
}
