img {
  max-width: var(--img-max-width);
  height: var(--img-height);
  display: var(--img-display);
}
img:is(.style-1, [style="1"]) {
  border: var(--img-1-border);
  border-radius: var(--img-1-radius);
}
img:is(.style-2, [style="2"]) {
  box-shadow: var(--img-2-shadow);
  border-radius: var(--img-2-radius);
}
img:is(.style-3, [style="3"]) {
  border: var(--img-3-border);
  box-shadow: var(--img-3-shadow);
  border-radius: var(--img-3-radius);
}
